body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.container {
  @apply px-5;
}

[v-cloak] > * {
  display: none;
}
[v-cloak]::before {
  content: '';
}

@variants group-hover, hover, focus {
  .zoom {
    transform: scale(1.25);
  }
}

button {
  @apply focus:outline-none focus:ring focus:border-primary-300;
}

/* navigation */
.nuxt-link-exact-active {
  /* @apply bg-gray-200; */
}
.nuxt-link-active {
  @apply text-gray-900 border-indigo-500 dark:text-white;
}

/* Grid Auto Flow */
.display-grid {
  @apply grid grid-cols-1 gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4;
  min-height: 60vh;
}

.word-wraping {
  text-align: justify !important;
  -webkit-hyphens: auto !important;
  -moz-hyphens: auto !important;
  -ms-hyphens: auto !important;
  hyphens: auto !important;
}

img[lazy='loading'] {
  filter: blur(4px);
}
img[lazy='error'] {
  /*your style here*/
}
img[lazy='loaded'] {
  /*your style here*/
}

.scroll-prevent {
  position: fixed;
  overflow-y: scroll;
}
