@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
  @apply m-0 p-0 bg-white dark:bg-gray-900 min-h-screen;
}
.dark {
  color-scheme: dark;
  scrollbar-color: theme('colors.gray.600') theme('colors.gray.900');
}

button {
  @apply focus:outline-none focus:ring focus:border-primary-300;
}

.dark [type='checkbox']:checked,
.dark [type='radio']:checked {
  background-color: currentColor !important;
}
